mixin inputRadio(inputCustom, inputLabel, inputId, inputName, inputValue, inputChecked, inputRequired, inputClass)
	.form-group
		if inputCustom
			.custom-element__radio
				input(
					type='radio'
					id=inputId
					name=inputName
					value=inputValue
					checked=inputChecked
					required=inputRequired
					class=inputClass
				)
				label.custom-element__label(for=inputId)=inputLabel
		else
			input(
				type='radio'
				id=inputId
				name=inputName
				value=inputValue
				checked=inputChecked
				required=inputRequired
				class=inputClass
			)
			label(for=id)= inputLabel
