mixin productItem(productName, productLink, productImg, productDescription, productPrice)
	.product-item
		.product-item__wrapper
			.product-item__picture
				a(href=productLink title=productName)
					span.btn.btn__ghost--negative.btn--transparent
						i.icon__cart
						|#{'Add to Cart'}
				picture
					img.img--fluid(src=productImg alt=productName)
			.product-item__body
				.product-item__decription
					h4
						a(href=productLink title=productName)= productName
					p= productDescription
				.product-item__price
					span.price--discount= productPrice
